#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#sitemap {
  overflow: x;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* padding-top: 96px; */
  touch-action: none;
  z-index: 2;
}
#sitemap > ul {
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
